<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>payformance</title>
  </head>
  <body>
    <div id="app"></div>
    built files will be auto injected
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Image Search</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
	<script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <h3 class="text-center">Vue Image Search</h3>
    </div>
	
	<div>
	<script>
	  (function() {
		var cx = '016088883029330661236:enp7zuosr8u';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search defaultToImageSearch="true"></gcse:search>
	</div>

    <div class="columns medium-3" v-for="result in items">

      <div class="card">
        <div class="card-divider">
          {{ result.title }}
        </div>
        <div class="card-section">
          <p>{{ result.abstract }}</p>
        </div>
      </div>
    </div>
    <div class="row" v-for="item in posts">
      <div class="columns large-3 medium-6" v-for="post in posts">
        <div class="card">
        <div class="card-divider">
          {{ post.title }}
        </div>
        <a :href="post.url" target="_blank"><img :src="post.image_url"></a>
        <div class="card-section">
          <p>{{ post.abstract }}</p>
        </div>
      </div>
      </div>
    </div>

  </body>
</html>
